.activeSorts {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--cui-space-2);
}

.activeSorts__topBar {
  height: auto;
  width: 100%;
  display: flex;
  gap: var(--cui-space-1);
  flex-wrap: wrap;
}
