.panelHeader {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper {
  display: grid;
  place-items: center;
  height: auto;
  width: auto;
  padding: var(--cui-space-1);
  border-radius: var(--cui-radius-1);
  background: var(--cui-surface-muted);
}
