._switch {
  height: auto;
  min-height: 15px;
  width: auto;
  position: relative;
  display: flex;
  align-items: center;

  /* Allow user to modify height through props,
    restrict to having two times the width at all times.
      -> Component user can override by passing explicit width prop or another aspect ratio
  */
  aspect-ratio: 2;
}
._switch[data-disabled] {
  opacity: var(--disabledOpacity);
}
._switch[data-disabled]:hover {
  cursor: not-allowed;
}
._switch[data-hovered] {
  cursor: pointer;
}
._switch__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--switch-track-color, var(--aui-border-muted));
  transition: var(--colorTransition), var(--bgColorTransition), var(--borderColorTransition);
}
._switch__track--rounded {
  border-radius: var(--border_radius_1);
}
._switch__track--round {
  border-radius: 10000px;
}
._switch__track--showBorder {
  border: 1.5px solid var(--aui-control-border);
}

._switch__iconSlot--on,
._switch__iconSlot--off {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  pointer-events: none;
  z-index: 0;
}
._switch__iconSlot--on {
  justify-content: flex-start;
  padding-left: 3px;
}
._switch__iconSlot--off {
  justify-content: flex-end;
  padding-right: 3px;
}
._switch__indicator {
  height: 100%;
  width: auto;
  aspect-ratio: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--switch-indicator-color, var(--aui-control-selected-foreground));
  z-index: 1;
  transition:
    var(--bgColorTransition),
    transform 225ms ease-in-out;
}
._switch__indicator--rounded {
  border-radius: var(--border_radius_1);
}
._switch__indicator--round {
  border-radius: 50%;
}

._switch__indicator--raised {
  box-shadow: var(--shadow_1);
}

._switch__indicator--offsetFocusRing {
  outline-offset: 3.5px;
}
._switch[data-focused] ._switch__indicator--applyFocusStyle {
  outline: 2px solid var(--focus-ring-color);
}
._switch[data-focused] ._switch__indicator--noFocusStyle {
  outline: none;
}

._switch[data-pressed] ._switch__track {
  background-color: var(--aui-control-pressed-background);
}
._switch[data-pressed] ._switch__track--showBorder {
  background-color: var(--aui-control-pressed-background);
}

._switch[data-selected] ._switch__track--fallback {
  background-color: var(--switch-track-selected-color-fallback, var(--aui-control-selected-background));
}
._switch[data-selected] ._switch__track--primary {
  background-color: var(--switch-track-selected-color-primary, var(--aui-color-primary-500));
}
._switch[data-selected] ._switch__track--secondary {
  background-color: var(--switch-track-selected-color-secondary, var(--aui-color-secondary-500));
}
._switch[data-selected] ._switch__track--tertiary {
  background-color: var(--switch-track-selected-color-tertiary, var(--aui-color-tertiary-500));
}
._switch[data-selected] ._switch__track--quaternary {
  background-color: var(--switch-track-selected-color-quaternary, var(--aui-color-quaternary-500));
}
._switch[data-selected] ._switch__track--quintenary {
  background-color: var(--switch-track-selected-color-quintenary, var(--aui-color-quintenary-500));
}

._switch[data-selected] ._switch__track--showBorder--invertColorsOnToggle--fallback {
  border: 1.5px solid var(--switch-track-selected-invert-border-color-fallback, var(--aui-control-selected-background));
  background-color: var(--switch-track-selected-invert-background-color-fallback, var(--aui-neutral-8));
}

._switch[data-selected] ._switch__track--showBorder--invertColorsOnToggle--primary {
  border: 1.5px solid var(--switch-track-selected-invert-border-color-primary, var(--aui-color-primary-500));
}

._switch[data-selected] ._switch__track--showBorder--invertColorsOnToggle--secondary {
  border: 1.5px solid var(--switch-track-selected-invert-border-color-secondary, var(--aui-color-secondary-500));
}

._switch[data-selected] ._switch__track--showBorder--invertColorsOnToggle--tertiary {
  border: 1.5px solid var(--switch-track-selected-invert-border-color-tertiary, var(--aui-color-tertiary-500));
}

._switch[data-selected] ._switch__track--showBorder--invertColorsOnToggle--quaternary {
  border: 1.5px solid var(--switch-track-selected-invert-border-color-quaternary, var(--aui-color-quaternary-500));
}

._switch[data-selected] ._switch__track--showBorder--invertColorsOnToggle--quintenary {
  border: 1.5px solid var(--switch-track-selected-invert-border-color-quintenary, var(--aui-color-quintenary-500));
}

._switch[data-selected] ._switch__indicator {
  transform: translateX(100%);
}
._switch[data-selected] ._switch__indicator--invertColorsOnToggle {
  background-color: var(--switch-indicator-selected-color, var(--aui-control-selected-background));
}
