.select {
  height: auto;
  width: auto;
  display: flex;
  background: var(--cui-control-background);
}

.select--rounded {
  border-radius: var(--cui-radius-1);
}
.select--round {
  border-radius: 10000px;
}

.select__emptyList {
  height: auto;
  width: 100%;
  display: grid;
  place-items: center;
  padding: var(--cui-space-1);
}

.select__iconColor {
  stroke: var(--cui-control-foreground);
}

.select[data-disabled] {
  opacity: var(--cui-opacity-disabled);
}
.select[data-disabled]:hover {
  cursor: not-allowed;
}

.selectedItem[data-placeholder] {
  color: var(--cui-control-placeholder);
  font-style: italic;
  opacity: 1;
}

/* - DEV NOTE -> This max-width is up for consideration for improvements */
.popover {
  max-width: 250px;
}

.popover[data-entering] {
  animation: var(--cui-animation-fade-in);
}
.popover[data-exiting] {
  animation: var(--cui-animation-fade-out);
}

.optionsList {
  height: auto;
  max-height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--cui-space-1);
  background-color: var(--cui-surface);
  border-radius: var(--cui-radius-1);
  box-shadow: var(--cui-shadow-1);
  overflow-y: scroll;
}

.optionsList[data-focused] {
  outline: 1.5px solid var(--cui-focus-ring);
}
