.hoverPopover {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: var(--cui-space-3);
  padding: var(--cui-space-2);
  background-color: var(--cui-surface);
  color: var(--cui-surface-foreground);
  forced-color-adjust: none;
  outline: none;
  transform: translate3d(0, 0, 0);
}

.hoverPopover[data-entering] {
  animation: var(--cui-animation-fade-in);
}
.hoverPopover[data-exiting] {
  animation: var(--cui-animation-fade-out);
}

.hoverPopover--raised {
  box-shadow: var(--cui-shadow-1);
}
.hoverPopover--rounded {
  border-radius: var(--cui-radius-1);
}

.hoverPopover--primary {
  background-color: var(--cui-color-primary-500);
}
.hoverPopover--secondary {
  background-color: var(--cui-color-secondary-500);
}
.hoverPopover--tertiary {
  background-color: var(--cui-color-tertiary-500);
}
.hoverPopover--quaternary {
  background-color: var(--cui-color-quaternary-500);
}
.hoverPopover--quintenary {
  background-color: var(--cui-color-quintenary-500);
}

.hoverPopover__overlayArrow svg {
  display: block;
  fill: var(--cui-surface);
}

.hoverPopover__overlayArrow--primary svg {
  fill: var(--cui-color-primary-500);
}
.hoverPopover__overlayArrow--secondary svg {
  fill: var(--cui-color-secondary-500);
}
.hoverPopover__overlayArrow--tertiary svg {
  fill: var(--cui-color-tertiary-500);
}
.hoverPopover__overlayArrow--quaternary svg {
  fill: var(--cui-color-quaternary-500);
}
.hoverPopover__overlayArrow--quintenary svg {
  fill: var(--cui-color-quintenary-500);
}

.hoverPopover[data-placement="top"] {
  margin-bottom: var(--cui-space-2);
}

.hoverPopover[data-placement="bottom"] {
  margin-top: var(--cui-space-2);
}

.hoverPopover[data-placement="bottom"] .hoverPopover__overlayArrow svg {
  transform: rotate(180deg);
}

.hoverPopover[data-placement="right"] {
  margin-left: var(--cui-space-2);
}

.hoverPopover[data-placement="right"] .hoverPopover__overlayArrow svg {
  transform: rotate(90deg);
}

.hoverPopover[data-placement="left"] {
  margin-right: var(--cui-space-2);
}

.hoverPopover[data-placement="left"] .hoverPopover__overlayArrow svg {
  transform: rotate(270deg);
}
