.panel {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  transition: all 350ms ease-in-out;
  background: var(--aui-surface);
  z-index: calc(var(--aui-z-index-panel) + var(--aui-z-index-content-offset));
}

@media (width < 500px) {
  .panel {
    width: calc(100vw * 0.8);
  }
}

.panel__overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 30%);
  z-index: calc(var(--aui-z-index-panel) + var(--aui-z-index-overlay-offset));
}

.panel__overlay[data-entering] {
  transform: translateX(0);
}

.panel__overlay[data-exiting] {
  transform: translate(100%);
}

.panel__overlay--blur {
  backdrop-filter: blur(10px);
}

.panel--raised {
  box-shadow: var(--aui-shadow-1);
}

.panel--rounded {
  border-radius: var(--aui-radius-1);
}

.panel--round {
  border-radius: 50000px;
}

.panel--left {
  left: 0;
}

.panel--right {
  right: 0;
}

.panel--open {
  transform: translateX(0);
}
