.timePicker {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: var(--aui-radius-1);
  transition: var(--aui-transition-border-color);
}

.timePicker[data-disabled] {
  opacity: var(--aui-opacity-disabled);
}
.timePicker[data-disabled]:hover {
  cursor: not-allowed;
}

.timePicker::placeholder {
  color: var(--aui-control-placeholder);
  font-style: italic;
  font-size: 12px;
  opacity: 1;
}

.inputIconGroup {
  height: auto;
  width: auto;
  padding: 0 var(--aui-space-1);
  padding-left: 1.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--aui-control-border);
  transition:
    var(--aui-transition-border-color),
    color 350ms ease-in-out;
}

.inputIconGroup--rounded {
  border-radius: var(--aui-radius-1);
}
.inputIconGroup--round {
  border-radius: 50%;
  padding: var(--aui-space-1) 7px;
}

.inputIconGroup--applyFocusStyle[data-focus-within] {
  outline: 1.5px solid var(--aui-focus-ring);
}
.inputIconGroup--noFocusStyle[data-focus-within] {
  outline: none;
}
.inputIconGroup--offsetFocusRing {
  outline-offset: 1.5px;
}

.inputIconGroup--errorState {
  border-color: var(--aui-state-danger);
}
.inputIconGroup--warningState {
  border-color: var(--aui-state-warning);
}
.inputIconGroup--successState {
  border-color: var(--aui-state-success);
}

.inputIconGroup > svg {
  color: var(--aui-control-foreground);
}

.inputIconGroup[data-focus-within] > svg {
  color: var(--aui-control-selected-background);
}

.timeInput {
  display: flex;
  flex-direction: row;
  padding: 3.5px;
}

.timeSegment {
  display: grid;
  place-items: center;
  border-radius: 3px;
  padding: 1.5px;
}

.timeSegment::placeholder {
  color: var(--aui-control-placeholder);
  font-style: italic;
  font-size: 12px;
  opacity: 1;
}

.timeSegment[data-placeholder] {
  color: var(--aui-control-placeholder);
  font-style: italic;
  font-size: 12px;
  opacity: 1;
}

.timeSegment[data-focused] {
  outline: 1.5px solid var(--aui-focus-ring);
}
