.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: var(--width, auto);
  height: var(--height, auto);
  gap: var(--cui-space-3);
  border-radius: var(--borderRadius, 10px);
  padding: var(--cui-space-3);
}

.card--raised {
  box-shadow: var(--cui-shadow-1);
}
