.pagination {
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: center;
  position: relative;
  gap: var(--cui-space-2);
}

.pagination--rtl {
  flex-direction: row-reverse;
}
