.menu {
  height: fit-content;
  width: fit-content;
  min-width: 160px;
  padding: var(--cui-space-1);
  background-color: var(--cui-surface);
  color: var(--cui-surface-foreground);
  forced-color-adjust: none;
  outline: none;
  transform: translate3d(0, 0, 0);
  z-index: 99999;
}

.menu[data-entering] {
  animation: var(--cui-animation-fade-in);
}

.menu[data-exiting] {
  animation: var(--cui-animation-fade-out);
}

.menu--raised {
  box-shadow: var(--cui-shadow-1);
}

.menu--rounded {
  border-radius: var(--cui-radius-1);
}

.menu--primary {
  background-color: var(--cui-color-primary-500);
}

.menu--secondary {
  background-color: var(--cui-color-secondary-500);
}

.menu--tertiary {
  background-color: var(--cui-color-tertiary-500);
}

.menu--quaternary {
  background-color: var(--cui-color-quaternary-500);
}

.menu--quintenary {
  background-color: var(--cui-color-quintenary-500);
}

.menu__menuList {
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0;
  margin: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: var(--cui-space-1);
  padding: var(--cui-space-1);
  border-radius: calc(var(--cui-radius-1) - 2px);
  outline: none;
  user-select: none;
  transition: var(--cui-transition-background-color);
}

.menuItem[data-hovered] {
  background-color: var(--cui-control-hover-background);
  cursor: pointer;
}

.menuItem[data-focus-visible] {
  outline: 1.5px solid var(--cui-focus-ring);
  outline-offset: -1.5px;
}

.menuItem[data-pressed] {
  background-color: var(--cui-control-pressed-background);
}

.menuItem[data-disabled] {
  opacity: var(--cui-control-disabled-opacity);
  cursor: not-allowed;
  pointer-events: none;
}

.menuItem--destructive {
  color: var(--cui-state-danger);
}

.menuItem__icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.menuSeparator {
  height: 1px;
  background-color: var(--cui-border-muted);
  border: none;
  margin: calc(var(--cui-space-1) - 2px) 0;
}
