.checkboxGroup {
  display: flex;
  align-items: center;
  gap: var(--cui-space-2);
  flex-wrap: wrap;
}

.checkboxGroup--horizontal {
  flex-direction: row;
}

.checkboxGroup--vertical {
  flex-direction: column;
}

.checkboxGroup[data-disabled] {
  opacity: var(--cui-opacity-disabled);
}
