.stepper {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  transition: var(--aui-transition-border-color), var(--aui-transition-color);
  border-radius: var(--aui-radius-1);
}

.stepper::placeholder {
  color: var(--aui-control-placeholder);
  font-style: italic;
  font-size: 12px;
  opacity: 1;
}

.stepper[data-disabled] {
  opacity: var(--aui-opacity-disabled);
}
.stepper[data-disabled]:hover {
  cursor: not-allowed;
}

.stepper[data-focus-within] {
  outline: none;
}
.stepper--applyFocusStyle[data-focus-within] {
  outline: 1.5px solid var(--aui-focus-ring);
}
.stepper--noFocusStyle[data-focus-within] {
  outline: none;
}
.stepper--offsetFocusRing {
  outline-offset: 1.5px;
}

.stepper--errorState {
  border-color: var(--aui-state-danger);
}
.stepper--warningState {
  border-color: var(--aui-state-warning);
}
.stepper--successState {
  border-color: var(--aui-state-success);
}

.stepper__group {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
}

.stepper__group--segmented {
  background-color: inherit;
}

.stepper__group--horizontal {
  flex-direction: row;
}
.stepper__group--vertical {
  flex-direction: column-reverse;
}

.stepper__group--rounded {
  border-radius: var(--aui-radius-1);
}
.stepper__group--round {
  border-radius: 50%;
}

.stepper__group--cohesive--fill {
  background-color: var(--aui-control-foreground);
  color: var(--aui-control-background);
}
.stepper__group--cohesive--fill--primary {
  background-color: var(--aui-action-primary-background);
  color: var(--aui-action-primary-foreground);
}
.stepper__group--cohesive--fill--secondary {
  background-color: var(--aui-action-secondary-background);
  color: var(--aui-action-secondary-foreground);
}
.stepper__group--cohesive--fill--tertiary {
  background-color: var(--aui-action-tertiary-background);
  color: var(--aui-action-tertiary-foreground);
}
.stepper__group--cohesive--fill--quaternary {
  background-color: var(--aui-action-quaternary-background);
  color: var(--aui-action-quaternary-foreground);
}
.stepper__group--cohesive--fill--quintenary {
  background-color: var(--aui-action-quintenary-background);
  color: var(--aui-action-quintenary-foreground);
}

.stepper__group--cohesive--outline {
  background-color: var(--aui-control-background);
  border: 2px solid var(--aui-control-border);
}

.stepper__group--cohesive--outline--primary {
  background-color: inherit;
  border: 2px solid var(--aui-color-primary-500);
}

.stepper__group--cohesive--outline--secondary {
  background-color: inherit;
  border: 2px solid var(--aui-color-secondary-500);
}

.stepper__group--cohesive--outline--tertiary {
  background-color: inherit;
  border: 2px solid var(--aui-color-tertiary-500);
}

.stepper__group--cohesive--outline--quaternary {
  background-color: inherit;
  border: 2px solid var(--aui-color-quaternary-500);
}

.stepper__group--cohesive--outline--quintenary {
  background-color: inherit;
  border: 2px solid var(--aui-color-quintenary-500);
}
