.avatar {
  height: var(--size);
  width: var(--size);
  display: grid;
  place-items: center;
  overflow: hidden;
  user-select: none;
  background: var(--background, var(--aui-surface-foreground));
  color: var(--foreground, var(--aui-surface));
}

.avatar--clickable:hover {
  cursor: pointer;
}

.avatar--raised {
  box-shadow: var(--aui-shadow-1);
}

.avatar--rounded {
  border-radius: var(--aui-radius-1);
}

.avatar--round {
  border-radius: 10000px;
}

.avatar__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: inherit;
}

.avatar__fallback {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
