.clickPopover {
  height: fit-content;
  width: fit-content;
  padding: var(--cui-space-2);
  background-color: var(--cui-surface);
  color: var(--cui-surface-foreground);
  forced-color-adjust: none;
  outline: none;
  transform: translate3d(0, 0, 0);
}

.clickPopover[data-entering] {
  animation: var(--cui-animation-fade-in);
}
.clickPopover[data-exiting] {
  animation: var(--cui-animation-fade-out);
}

.clickPopover--raised {
  box-shadow: var(--cui-shadow-1);
}
.clickPopover--rounded {
  border-radius: var(--cui-radius-1);
}

.clickPopover--primary {
  background-color: var(--cui-color-primary-500);
}
.clickPopover--secondary {
  background-color: var(--cui-color-secondary-500);
}
.clickPopover--tertiary {
  background-color: var(--cui-color-tertiary-500);
}
.clickPopover--quaternary {
  background-color: var(--cui-color-quaternary-500);
}
.clickPopover--quintenary {
  background-color: var(--cui-color-quintenary-500);
}

.clickPopover__overlayArrow svg {
  display: block;
  fill: var(--cui-surface);
}

.clickPopover__overlayArrow--primary svg {
  fill: var(--cui-color-primary-500);
}

.clickPopover__overlayArrow--secondary svg {
  fill: var(--cui-color-secondary-500);
}

.clickPopover__overlayArrow--tertiary svg {
  fill: var(--cui-color-tertiary-500);
}

.clickPopover__overlayArrow--quaternary svg {
  fill: var(--cui-color-quaternary-500);
}

.clickPopover__overlayArrow--quintenary svg {
  fill: var(--cui-color-quintenary-500);
}

.clickPopover__dialog {
  display: flex;
  flex-direction: column;
  gap: var(--cui-space-3);
  border-radius: 0.5px;
  outline-offset: var(--cui-space-1);
}

.clickPopover__dialog:focus {
  outline: 1.5px solid var(--cui-focus-ring);
}

.clickPopover[data-placement="top"] {
  margin-bottom: var(--cui-space-2);
}

.clickPopover[data-placement="bottom"] {
  margin-top: var(--cui-space-2);
}

.clickPopover[data-placement="bottom"] .clickPopover__overlayArrow svg {
  transform: rotate(180deg);
}

.clickPopover[data-placement="right"] {
  margin-left: var(--cui-space-2);
}

.clickPopover[data-placement="right"] .clickPopover__overlayArrow svg {
  transform: rotate(90deg);
}

.clickPopover[data-placement="left"] {
  margin-right: var(--cui-space-2);
}

.clickPopover[data-placement="left"] .clickPopover__overlayArrow svg {
  transform: rotate(270deg);
}
