.calendar {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.calendar__topRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--aui-space-1);
}

.calendar__header {
  width: 100%;
  display: grid;
  place-items: center;
}

.calendar__grid {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.calendar__grid__header {
  padding: 3.5px;
  width: 100%;
  display: grid;
  place-items: center;
}

.calendar__grid__header > tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar__grid__header__cell {
  padding: 1.5px;
}

.calendar__grid__body {
  padding: 3px;
  width: 100%;
}

.calendar__grid__body > tr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calendar__grid__body > tr > td {
  flex: 1;
  display: grid;
  place-items: center;
}

.calendar__grid__body__cell {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  padding: var(--aui-space-1);
  border-radius: 3px;
  transition: var(--aui-transition-background-color), var(--aui-transition-box-shadow);
}

.calendar__grid__body__cell[data-hovered] {
  background-color: var(--aui-control-hover-background);
  box-shadow: var(--aui-shadow-1);
  cursor: pointer;
}

.calendar__grid__body__cell[data-focused] {
  outline: 1.5px solid var(--aui-focus-ring);
  z-index: var(--aui-z-index-modal);
}

.calendar__grid__body__cell[data-outside-month] {
  opacity: var(--aui-opacity-disabled);
}

.calendar__grid__body__cell[data-selected] {
  background-color: var(--aui-color-primary-100);
  border-radius: 0;
}

.calendar__grid__body__cell[data-selection-start] {
  background-color: var(--aui-color-primary-200);
  border-radius: 3px;
}

.calendar__grid__body__cell[data-selection-end] {
  background-color: var(--aui-color-primary-200);
  border-radius: 3px;
}

[data-theme="dark"] .calendar__grid__body__cell[data-hovered] {
  background-color: var(--aui-control-pressed-background);
}

[data-theme="dark"] .calendar__grid__body__cell[data-selected] {
  background-color: var(--aui-color-primary-400);
  border-radius: 0;
}

[data-theme="dark"] .calendar__grid__body__cell[data-selection-start] {
  background-color: var(--aui-color-primary-500);
  border-radius: 3px;
}

[data-theme="dark"] .calendar__grid__body__cell[data-selection-end] {
  background-color: var(--aui-color-primary-500);
  border-radius: 3px;
}
