:root {
  --cui-font-family-system: system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", sans-serif;
  --cui-font-family-body: var(--cui-font-family-body-override, var(--cui-font-family-system));
  --cui-font-family-heading: var(--cui-font-family-heading-override, var(--cui-font-family-body));
  --cui-font-family-display: var(--cui-font-family-display-override, var(--cui-font-family-heading));

  --cui-font-weight-light: 300;
  --cui-font-weight-regular: 400;
  --cui-font-weight-medium: 500;
  --cui-font-weight-semibold: 600;
  --cui-font-weight-bold: 700;
  --cui-font-weight-extrabold: 800;

  --cui-text-line-height-tight: 1;

  --cui-text-d1-font-size: 42.5rem;
  --cui-text-d2-font-size: 32rem;
  --cui-text-d3-font-size: 24rem;
  --cui-text-d4-font-size: 18rem;
  --cui-text-d5-font-size: 13.4rem;
  --cui-text-d6-font-size: 10rem;

  --cui-text-h1-font-size: 3.8rem;
  --cui-text-h1-sm-font-size: 2.4rem;
  --cui-text-h2-font-size: 2.4rem;
  --cui-text-h2-sm-font-size: 2rem;
  --cui-text-h3-font-size: 2rem;
  --cui-text-h3-sm-font-size: 1.8rem;
  --cui-text-h4-font-size: 1.8rem;
  --cui-text-h4-sm-font-size: 1.6rem;
  --cui-text-h5-font-size: 1.6rem;
  --cui-text-h5-sm-font-size: 1.4rem;
  --cui-text-h6-font-size: 1.4rem;
  --cui-text-h6-sm-font-size: 1.2rem;

  --cui-text-b1-font-size: 7.6rem;
  --cui-text-b2-font-size: 5.8rem;
  --cui-text-b3-font-size: 4.2rem;
  --cui-text-b4-font-size: 3.2rem;
  --cui-text-b5-font-size: 2.4rem;
  --cui-text-b6-font-size: 2.2rem;
  --cui-text-b7-font-size: 2rem;
  --cui-text-b8-font-size: 1.8rem;
  --cui-text-b9-font-size: 1.6rem;
  --cui-text-b10-font-size: 1.4rem;
  --cui-text-b11-font-size: 1.2rem;
  --cui-text-b12-font-size: 1.1rem;
  --cui-text-b13-font-size: 1rem;

  --cui-text-d1-line-height: var(--cui-text-line-height-tight);
  --cui-text-d2-line-height: var(--cui-text-line-height-tight);
  --cui-text-d3-line-height: var(--cui-text-line-height-tight);
  --cui-text-d4-line-height: var(--cui-text-line-height-tight);
  --cui-text-d5-line-height: var(--cui-text-line-height-tight);
  --cui-text-d6-line-height: var(--cui-text-line-height-tight);
  --cui-text-h1-line-height: var(--cui-text-line-height-tight);
  --cui-text-h1-sm-line-height: var(--cui-text-line-height-tight);
  --cui-text-h2-line-height: var(--cui-text-line-height-tight);
  --cui-text-h2-sm-line-height: var(--cui-text-line-height-tight);
  --cui-text-h3-line-height: var(--cui-text-line-height-tight);
  --cui-text-h3-sm-line-height: var(--cui-text-line-height-tight);
  --cui-text-h4-line-height: var(--cui-text-line-height-tight);
  --cui-text-h4-sm-line-height: var(--cui-text-line-height-tight);
  --cui-text-h5-line-height: var(--cui-text-line-height-tight);
  --cui-text-h5-sm-line-height: var(--cui-text-line-height-tight);
  --cui-text-h6-line-height: var(--cui-text-line-height-tight);
  --cui-text-h6-sm-line-height: var(--cui-text-line-height-tight);
  --cui-text-b1-line-height: var(--cui-text-line-height-tight);
  --cui-text-b2-line-height: var(--cui-text-line-height-tight);
  --cui-text-b3-line-height: var(--cui-text-line-height-tight);
  --cui-text-b4-line-height: var(--cui-text-line-height-tight);
  --cui-text-b5-line-height: var(--cui-text-line-height-tight);
  --cui-text-b6-line-height: var(--cui-text-line-height-tight);
  --cui-text-b7-line-height: var(--cui-text-line-height-tight);
  --cui-text-b8-line-height: var(--cui-text-line-height-tight);
  --cui-text-b9-line-height: var(--cui-text-line-height-tight);
  --cui-text-b10-line-height: var(--cui-text-line-height-tight);
  --cui-text-b11-line-height: var(--cui-text-line-height-tight);
  --cui-text-b12-line-height: var(--cui-text-line-height-tight);
  --cui-text-b13-line-height: var(--cui-text-line-height-tight);
}
