.modal {
  height: fit-content;
  width: fit-content;
  min-height: 20px;
  min-width: 20px;
  padding: var(--cui-space-2);
  background-color: var(--cui-surface);
  color: var(--cui-surface-foreground);
  forced-color-adjust: none;
  outline: none;
  transform: translate3d(0, 0, 0);
}

.modal[data-entering] {
  animation: var(--cui-animation-fade-in);
}

.modal[data-exiting] {
  animation: var(--cui-animation-fade-out);
}

.modal--raised {
  box-shadow: var(--cui-shadow-1);
}

.modal--rounded {
  border-radius: var(--cui-radius-1);
}

.modal--primary {
  background-color: var(--cui-color-primary-500);
}

.modal--secondary {
  background-color: var(--cui-color-secondary-500);
}

.modal--tertiary {
  background-color: var(--cui-color-tertiary-500);
}

.modal--quaternary {
  background-color: var(--cui-color-quaternary-500);
}

.modal--quintenary {
  background-color: var(--cui-color-quintenary-500);
}

.modal__overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 30%);
  display: grid;
  place-items: center;
}

.modal__overlay--blur {
  backdrop-filter: blur(10px);
}

.modal__overlay[data-entering] {
  animation: var(--cui-animation-fade-in);
}

.modal__overlay[data-exiting] {
  animation: var(--cui-animation-fade-out);
}

.modal__dialog {
  display: flex;
  flex-direction: column;
  gap: var(--cui-space-3);
  border-radius: 0.5px;
  outline-offset: var(--cui-space-1);
}

.modal__dialog:focus {
  outline: 1.5px solid var(--cui-focus-ring);
}
