.counter {
  height: auto;
  width: auto;
  display: flex;
  gap: var(--cui-space-1);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: var(--cui-transition-color);
  text-align: center;
}

.counter__textRow {
  height: 100%;
  width: auto;
  display: flex;
  flex: initial;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.counter > :empty {
  display: none;
}
