.textArea {
  height: auto;
  width: auto;
  border: 1px solid var(--cui-control-border);
  padding: var(--cui-space-1);
  overflow: auto;
  transition: var(--cui-transition-border-color);
  background-color: var(--cui-control-background);
  color: var(--cui-control-foreground);
}

.textArea--rounded {
  border-radius: var(--cui-radius-1);
}
.textArea--round {
  border-radius: 50%;
  padding: var(--cui-space-1) 7px;
}

.textArea--applyFocusStyle[data-focused],
.textArea--applyFocusStyle:focus,
.textArea--applyFocusStyle:focus-visible {
  outline: 1.5px solid var(--cui-focus-ring);
}

.textArea--noFocusStyle[data-focused],
.textArea--noFocusStyle:focus,
.textArea--noFocusStyle:focus-visible {
  outline: none;
  box-shadow: none;
}

.textArea--offsetFocusRing {
  outline-offset: 1.5px;
}

.textArea[data-disabled] {
  opacity: var(--cui-opacity-disabled);
}
.textArea[data-disabled]:hover {
  cursor: not-allowed;
}

.textArea::placeholder {
  color: var(--cui-control-placeholder);
  font-style: italic;
  font-size: 12px;
  opacity: 1;
}

.textArea--resizeNone {
  resize: none;
}
.textArea--resizeVertical {
  resize: vertical;
}
.textArea--resizeHorizontal {
  resize: horizontal;
}
.textArea--resizeBoth {
  resize: both;
}

.textArea--errorState {
  border-color: var(--cui-state-danger);
}
.textArea--warningState {
  border-color: var(--cui-state-warning);
}
.textArea--successState {
  border-color: var(--cui-state-success);
}
