.meter {
  position: relative;
}

.meter--horizontal {
  height: 10px;
  width: 150px;
}

.meter--vertical {
  height: 150px;
  width: 10px;
  rotate: x 180deg; /* Done so that default vertical direction is up */
}

.meter--dirLeft {
  rotate: y 180deg;
}

.meter--dirDown {
  rotate: x 0deg;
}

.meter__track {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cui-control-border);
  background-color: inherit;
}

.meter__track--raised {
  box-shadow: var(--cui-shadow-1);
}

.meter__track--rounded {
  border-radius: var(--cui-radius-1);
}

.meter__track--round {
  border-radius: 10000px;
}

.meter__bar {
  height: 100%;
  background-color: var(--cui-control-selected-background);
}

.meter__bar--rounded {
  border-radius: var(--cui-radius-1);
}

.meter__bar--round {
  border-radius: 10000px;
}

.meter__bar--primary {
  background-color: var(--cui-color-primary-500);
}

.meter__bar--secondary {
  background-color: var(--cui-color-secondary-500);
}

.meter__bar--tertiary {
  background-color: var(--cui-color-tertiary-500);
}

.meter__bar--quaternary {
  background-color: var(--cui-color-quaternary-500);
}

.meter__bar--quintenary {
  background-color: var(--cui-color-quintenary-500);
}
