.listBoxItem {
  height: auto;
  min-height: 20px;
  width: 100%;
  border-radius: var(--cui-radius-1);
  display: flex;
  align-items: center;
  transition: var(--cui-transition-background-color);
}

.listBoxItem[data-hovered] {
  outline: none;
  background-color: var(--cui-control-hover-background);
  cursor: pointer;
}

.listBoxItem[data-focused] {
  outline: none;
  background-color: var(--cui-control-hover-background);
}

.listBoxItem[data-selected] {
  outline: none;
  background-color: var(--cui-control-hover-background);
}

.listBoxItem[data-disabled="true"] {
  pointer-events: none;
  opacity: var(--cui-opacity-disabled);
}

.listBoxItem[data-disabled="true"]:hover {
  cursor: not-allowed;
}

.listBoxItem:link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.listBoxItem:link {
  color: inherit;
  text-decoration: none;
}

.listBoxItem:visited {
  color: inherit;
  text-decoration: none;
  cursor: auto;
}

a.listBoxItemItem {
  transition: color 125ms ease-out;
}
