.alertDialog {
  height: auto;
  width: 400px;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--aui-surface);
  color: var(--aui-surface-foreground);
  forced-color-adjust: none;
  outline: none;
  transform: translate3d(0, 0, 0);
}

.alertDialog__topRibbon {
  height: 25px;
  width: 100%;
}

.alertDialog__topRibbon--info {
  background-color: var(--aui-control-selected-background);
}

.alertDialog__topRibbon--warning {
  background-color: var(--aui-status-warning);
}

.alertDialog__topRibbon--errorOrDanger {
  background-color: var(--aui-status-danger);
}

.alertDialog__topRibbon--success {
  background-color: var(--aui-status-success);
}

.alertDialog[data-entering] {
  animation: var(--aui-animation-fade-in);
}

.alertDialog[data-exiting] {
  animation: var(--aui-animation-fade-out);
}

.alertDialog--raised {
  box-shadow: var(--aui-shadow-1);
}

.alertDialog--rounded {
  border-radius: var(--aui-radius-2);
}

.alertDialog__overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 30%);
  display: grid;
  place-items: center;
  z-index: var(--aui-z-index-modal);
}

.alertDialog__overlay--blur {
  backdrop-filter: blur(10px);
}

.alertDialog__overlay[data-entering] {
  animation: var(--aui-animation-fade-in);
}

.alertDialog__overlay[data-exiting] {
  animation: var(--aui-animation-fade-out);
}

.alertDialog__dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--aui-space-4);
  padding: var(--aui-space-3);
  border-radius: 0.5px;
}

.alertDialog__dialog:focus {
  outline: 1.5px solid var(--aui-focus-ring);
}

.alertDialog__dialog__iconCircle {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: var(--aui-space-2);
  margin-bottom: var(--aui-space-1);
  display: grid;
  place-items: center;
  box-shadow: var(--aui-shadow-2);
}

.alertDialog__dialog__iconCircle--info {
  border: 3px solid var(--aui-control-selected-background);
}

.alertDialog__dialog__iconCircle--info svg {
  fill: var(--aui-control-selected-background);
}

.alertDialog__dialog__iconCircle--warning {
  border: 3px solid var(--aui-status-warning);
}

.alertDialog__dialog__iconCircle--warning svg {
  fill: var(--aui-status-warning);
}

.alertDialog__dialog__iconCircle--errorOrDanger {
  border: 3px solid var(--aui-status-danger);
}

.alertDialog__dialog__iconCircle--errorOrDanger svg {
  fill: var(--aui-status-danger);
}

.alertDialog__dialog__iconCircle--success {
  border: 3px solid var(--aui-status-success);
}

.alertDialog__dialog__iconCircle--success svg {
  fill: var(--aui-status-success);
}

.alertDialog__dialog__buttonRow {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: var(--aui-space-2);
  flex: 1;
}
