.sortParameterListItem {
  width: 100%;
  height: auto;
  padding: var(--aui-space-2);
  display: flex;
  align-items: center;
  gap: var(--aui-space-1);
  cursor: grab;
  background: var(--aui-surface-muted);
  border-radius: var(--aui-radius-1);
}

.sortParameterListItem[data-dragging] {
  cursor: grabbing;
}

.sortParameterListItem__middleContent {
  width: auto;
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--aui-space-1);
}

.sortParameterListItem__rightContent {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--aui-space-1);
}
