:root {
  --aui-color-primary-500: var(--aui-control-selected-background);
  --aui-color-secondary-500: var(--aui-control-pressed-background);
  --aui-color-tertiary-500: var(--aui-state-success);
  --aui-color-quaternary-500: var(--aui-state-warning);
  --aui-color-quintenary-500: var(--aui-state-danger);
}
