:root {
  --cui-color-primary-500: var(--cui-control-selected-background);
  --cui-color-secondary-500: var(--cui-control-pressed-background);
  --cui-color-tertiary-500: var(--cui-state-success);
  --cui-color-quaternary-500: var(--cui-state-warning);
  --cui-color-quintenary-500: var(--cui-state-danger);
}
