:root {
  --aui-color-primary-500: var(--cui-control-selected-background);
  --aui-color-secondary-500: var(--cui-control-pressed-background);
  --aui-color-tertiary-500: var(--cui-state-success);
  --aui-color-quaternary-500: var(--cui-state-warning);
  --aui-color-quintenary-500: var(--cui-state-danger);

  --cui-color-primary-500: var(--aui-color-primary-500);
  --cui-color-secondary-500: var(--aui-color-secondary-500);
  --cui-color-tertiary-500: var(--aui-color-tertiary-500);
  --cui-color-quaternary-500: var(--aui-color-quaternary-500);
  --cui-color-quintenary-500: var(--aui-color-quintenary-500);
}
